apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: friday-app-0eda8-dev
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/opsera-test-org/friday-app
    targetRevision: main
    path: .opsera-friday-app-0eda8/k8s/overlays/dev
  destination:
    name: opsera-usw2-np
    namespace: opsera-friday-app-0eda8-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 3m
